* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: azure;
}

body {
    background-color: black;
}

main{
    padding: auto;
    display: block;
    background-color: blue;
}